*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Montserrat', Arial, sans-serif;
}

.header-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
}

.header-title,
.header-menu {
  flex: 1;
}

.header-title {
  padding-top: 3.7em;
}

.header-menu {
  padding-top: 3.3em;
}

.header {
  height: 100px;
  background: #1e8bc3;
}

.header-logo {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.menu {
  text-align: right;
}

.menu-list {
  list-style: none;
}

.menu-item {
  display: inline-block;
  margin: 0 .3em;
}

.menu-link {
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  padding: .6em 1.5em .7em;
}

.menu-link:hover {
  background: rgba(0, 0, 0, .2);
  border-radius: 2px;
}
