*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Montserrat', Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .app {
  height: 100%;
}

.header-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
}

.header-title {
  width: 115px;
  padding-top: .7em;
}

.header-menu {
  width: 100%;
  padding-top: 4.2em;
}

.header {
  height: 100px;
  background: #0b6e93;
}

.header-logo {
  background: url('http://www.imarui.sc.gov.br/thumbs/642/1035164_resize_1000_.png') no-repeat;
  background-size: 100%;
  max-width: 4em;
  height: 3em;
  text-indent: -9999em;
}

.menu {
  text-align: right;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
  margin: 0;
}

.menu-link {
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  padding: .6em 1.5em .7em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
}

.menu-link--prefeitos.prefeitos,
.menu-link--vereadores.vereadores,
.menu-link:hover {
  background: rgba(0, 0, 0, .3);
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  min-height: 90%;
}

.candidates-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.candidate-item {
  background: #fff;
  margin: 1em 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
  max-height: 14em;
}

.candidate-item.true {
  max-height: 600px;
}

.candidate-item-main {
  position: relative;
  padding: 2em 1em 1em 25em;
  min-height: 14em;
  clear: both;
  cursor: pointer;
}

.candidate-item-main:before {
  content: '';
  width: 2.5em;
  height: 2.2em;
  position: absolute;
  right: 4em;
  top: 42%;
  background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjY0cHgiIGhlaWdodD0iNjRweCIgdmlld0JveD0iMCAwIDMwNiAzMDYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwNiAzMDY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iZXhwYW5kLW1vcmUiPgoJCTxwb2x5Z29uIHBvaW50cz0iMjcwLjMsNTguNjUgMTUzLDE3NS45NSAzNS43LDU4LjY1IDAsOTQuMzUgMTUzLDI0Ny4zNSAzMDYsOTQuMzUgICAiIGZpbGw9IiMwYjZlOTMiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  transition: transform .5s ease;
}

.candidate-item.true .candidate-item-main:before {
  transform: rotate(180deg);
}

.candidate-item__avatar-wrapper {
  position: absolute;
  left: 6em;
  top: 1em;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ddd;
}

.candidate-item__avatar-item {
  max-width: 100%;
}

.candidate-item__name {
  color: #444;
  margin: .4em 0;
  padding: 0;
  font-size: 2.5em;
}

.candidate-item__number {
  display: inline-block;
  background: #D24D57;
  color: #fff;
  border-radius: 3px;
  padding: .1em .6em .28em;
  font-size: 1.8em;
  font-weight: bold;
}

.candidate-item__partido {
  color: #999;
  font-size: 1.4em;
  margin: 0;
}

.candidate-extrainfo {
  padding: 2em 2em 4em 7em;
}

.candidate-extrainfo-line {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid #f5f5f5;
}

.candidate-extrainfo--title,
.candidate-extrainfo--value {
  font-size: 1.6em;
}

.candidate-extrainfo--title {
  width: 16em;
  color: #aaa;
}

.candidate-extrainfo--value {
  width: 100%;
  color: #333;
}

.loading {
  max-width: 800px;
  margin: 3em auto;
  text-align: center;
}

.loading-svg {
  width: 30px;
  animation: loading 2s linear infinite;
}

.loading-svg-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #0b6e93;
  fill: transparent;
}

.footer {
  margin-top: 5em;
  background: #ddd;
}

.footer-wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 2em 0;
}

.footer-message {
  font-size: 1.2em;
  color: #888;
  text-align: center;
  line-height: 1.8em;
  margin: 0 0 1em 0;
}

.footer-link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}

@media screen and (max-width: 580px) {

  .menu-link {
    font-size: 1.1em;
    padding: .6em 1em .7em;
  }

  .candidate-item-main {
    padding: 2em 1em 1em 13em;
    min-height: 13em;
  }

  .candidate-item-main:before {
    right: 2em;
    top: 2em;
  }

  .candidate-extrainfo {
    padding: 0 2em 4em 3em;
  }

  .candidate-extrainfo--title,
  .candidate-extrainfo--value {
    font-size: 1.4em;
  }

  .candidate-item__avatar-wrapper {
    width: 8em;
    height: 8em;
    left: 2em;
    top: 2em;
  }

  .candidate-item__number {
    font-size: 1.5em;
  }

  .candidate-item__name {
    font-size: 1.6em;
  }

  .candidate-item__partido {
    font-size: 1.2em;
  }

  .footer-wrapper {
    padding: 2em;
  }

}
